html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', Arial, sans-serif;
  line-height: 1.6;
  background-color: #e2e1e1;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    padding: 1.5rem 4rem;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
  }
  
  .menu a {
    color: #353535;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
  }
  
  .menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #1c77ac;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.15s ease;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .theme-toggle {
    background: transparent;
    border: none;
    font-size: 2.6rem;
    color: #1c77ac;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .theme-toggle:hover {
    color: #1c77ac;
    transform: scale(1.2);
    transition: color 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .theme-toggle:active {
    color: #1c77ac;
    transform: scale(0.8);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navigation-arrow {
    border: 2px solid #2b2b2b;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
  } 

  .navigation-arrow:hover {
    border: 2px solid #1c77ac;
    transform: scale(1.1);
    background: #f5f5f5;
  }

  .navigation-arrow:active {
    transform: scale(0.95);
    background: #f5f5f5;
  }

  .navigation-arrow i {
    font-size: 1.8rem;
    color: #313130;
    transition: color 0.3s;
  }

  /* Main Sections */

  #intro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25rem;
    max-width: 100rem;
    padding: 4rem 2rem;
    gap: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  #intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50rem;
  }
  
  #intro-text h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #1c77ac;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
  }

  strong {
    font-weight: bold;
  }
  
  #intro-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
  }
  
  #resize-img {
    width: 20rem;
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
    outline: 2px solid #1c77ac;
  }

  #resize-img:hover {
    outline: 2px solid #1c77ac;
  }

  main {
    padding: 2rem;
  }
  
  section {
    margin: 2rem 0;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
  }
  
  section h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #1c77ac;
  }


/* Dark mode */
body.dark-mode {
  background-color: #222222;
  color: #e4e3e3;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode header {
  background-color: #161616;
  transition: background-color 0.3s;
}

body.dark-mode .menu a {
  color: #fff;
  transition: color 0.3s;
}

body.dark-mode .menu a::after {
  background-color: #bdac14;
}

body.dark-mode .navigation-arrow {
  border: 2px solid #e4e4e4;
}

body.dark-mode .navigation-arrow:hover {
  border: 2px solid #bdac14;
  background: #1d1d1d;
}

body.dark-mode .navigation-arrow:active {
  transform: scale(0.95);
}

body.dark-mode .navigation-arrow i {
  color: #e4e4e4;
}

body.dark-mode section {
  background: #181818;
  color: #d4d4d4;
}

body.dark-mode #intro #intro-text h1 {
  color: #f1f1f1;
  text-decoration-color: #bdac14;
}

body.dark-mode #intro #intro-text p {
  color: #c9c7c7;
}

body.dark-mode section h1 {
  color: #bdac14;
}

body.dark-mode #resize-img {
  outline: 2px solid #bdac14;
}

body.dark-mode #resize-img:hover {
  outline: 2px solid #bdac14;
}

body.dark-mode .theme-toggle {
  color: #bdac14;
}

body.dark-mode .theme-toggle:hover {
  color: #bdac14;
}